body {
  background-color: #2d4059;
  min-height: 100vh;
  font-family: "Londrina Solid", Arial, Helvetica, sans-serif;
}
.container {
  color: rebeccapurple;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
